/* Estilos generales */
body {
	font-family: Arial, sans-serif;
	background-image: url(https://i.pinimg.com/736x/bd/8d/22/bd8d2293e29a93f41fca0ccd1799d980.jpg);
	background-size: cover;      /* Ajusta la imagen para que cubra todo el fondo */
	background-position: center; /* Centra la imagen */
	background-repeat: no-repeat; /* Evita que la imagen se repita */
	background-attachment: fixed; /* Fija la imagen mientras se desplaza la página */
  }
  
  
  /* Responsive */
  @media (max-width: 768px) {
	.navbar-toggler {
	  width: 45px;
	  height: 45px;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  border: none;
	  background-color: transparent;
	}
  
	.menu-icon {
	  font-size: 24px;
	  cursor: pointer;
	}
  
	.navbar-nav {
	  text-align: left;
	  display: none;
	  flex-direction: column;
	  background-color: #e5f6f8;
	  position: absolute;
	  top: 100%;
	  right: 0;
	  width: 100%;
	  padding: 10px 0;
	}
  
	.navbar-nav.show {
	  display: flex;
	}
  }
  
  /* Pantallas grandes */
  @media (min-width: 769px) {
	.navbar-brand, .navbar-nav {
	  display: flex;
	  align-items: center;
	}
  
	.logo-infodis {
	  height: 55px;
	}
  
	.navbar-nav .nav-item {
	  margin-left: 15px;
	}
  }

h2 {
	text-align: center;
	font-size: 36px;
	margin: 30px 0;
	color: #444;
}



label {
	display: block;
	font-size: 18px;
	margin-bottom: 10px;
	color: #444;
}

input[type="text"],
input[type="email"],
input[type="password"] {
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	background-color: #F2F2F2;
	margin-bottom: 20px;
	box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.1);
	color: #333;
}

button[type="submit"] {
	display: block;
	margin: 20px auto 0;
	padding: 10px 20px;
	font-size: 20px;
	color: #fff;
	background-color: #FFC107;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

button[type="submit"]:hover {
	background-color: #F57F17;
}

a {
	color: #333;
}

a:hover {
	color: #444;
}

p {
	margin-top: 20px;
	font-size: 18px;
	text-align: center;
}

/* Estilos específicos del formulario de registro */
#username:focus,
#email:focus,
#password:focus,
#password_confirm:focus {
	background-color: #fff;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

#username:invalid,
#email:invalid,
#password:invalid,
#password_confirm:invalid {
	border-color: #F44336;
}

#username:valid,
#email:valid,
#password:valid,
#password_confirm:valid {
	border-color: #4CAF50;
}

#password_confirm {
	margin-bottom: 40px;
}

main {
	flex: 1; /* Permite que el contenido principal ocupe el espacio disponible */
  }
  
  footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: #f8f8f8;
	border-top: 1px solid #e7e7e7;
	margin-top: 310px; /* Asegúrate de que el footer esté al final */
  }

  .contenedor {
	width: 300px;
	overflow: hidden;
	position: relative;
	margin: auto;
}
.formularios {
	display: flex;
	width: 600px;
	transition: transform 0.5s ease-in-out;
}
.formulario {
	width: 300px;
	padding: 20px;
	background: aliceblue;
	border-radius: 10px;
}
.botones {
	text-align: center;
	margin-bottom: 15px;
}

body{
    font-family: Poppins;
  }